# Database
POSTGRES_USER=ddreport
POSTGRES_PASSWORD=ddreport_pass
POSTGRES_DB=ddreport

# Auth
AUTH_SECRET=0SwNipCq7qhZPt2+TDqtArCnOe2xR2QHz365/Q+CaRc=

# Cloudflare Tunnel
TUNNEL_TOKEN=CHANGE_ME_FROM_CLOUDFLARE_DASHBOARD
